<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="welcome">


<div layout:fragment="functionality">

<div id="wrapper">
<div id="main">
<!-- <div class="inner"> -->
	<h1>Patient Report</h1>

	<div class="row uniform">
		<div class="1u 12u$(xsmall)">
			<label th:text="#{label.reg.firstname}">Firstname</label> 
		</div>
		<div class="3u 12u$(xsmall)">
			<input type="text" placeholder="Firstname" />
		</div>	
		<div class="1u 12u$(xsmall)">
			<label th:text="#{label.reg.lastname}">Lastname</label> 
			</div>
		<div class="3u 12u$(xsmall)">	
			<input type="text"  placeholder="Lastname" />
		</div>
		<div class="1u 12u$(xsmall)">
			<label th:text="#{label.report.gender}">GenderandAge</label> 
			</div>
		<div class="1u 12u$(xsmall)">	
			<input type="text"  placeholder="Gender and Age" />
		</div>
	</div>
	
	<div class="row uniform">
	
	<div class="1u 12u$(xsmall)">
			<label th:text="#{label.report.referredby}">ReferredByDoctor</label> 
		</div>
		<div class="3u 12u$(xsmall)">
			<input type="text" placeholder="ReferredBy" />
		</div>	
	<div class="1u 12u$(xsmall)">
			<label th:text="#{label.report.date}">Date</label> 
		</div>
		<div class="3u 12u$(xsmall)">
			<input type="text" placeholder="Date" />
		</div>	
		
	</div>
	

	<div class="4u 12u$(xsmall)">
		<div class="select-wrapper">
			<select name="demo-category" id="demo-category">
				<option value="">value1</option>
				<option value="1">Manufacturing</option>
				<option value="1">Shipping</option>
				<option value="1">Administration</option>
				<option value="1">Human Resources</option>
			</select>
		</div>
</div>
</div>
</div>
 </div>

</html>