<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
	<!-- JQUERY SCRIPTS -->
	<script src="../static/js/jquery-1.10.2.js" th:href="@{static/js/jquery-1.10.2.js}"></script>
	<!-- BOOTSTRAP SCRIPTS -->
	<script src="../static/js/bootstrap.min.js" th:href="@{static/js/bootstrap.min.js}"></script>
	<!-- METISMENU SCRIPTS -->
	<script src="../static/js/jquery.metisMenu.js" th:href="@{static/css/jquery.metisMenu.js}"></script>
	<!-- CUSTOM SCRIPTS -->
	<script src="../static/js/custom.js" th:href="@{static/css/custom.js}"></script>
</div>
</html>