<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Vijaya Durga Clinic</title>
<link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{static/css/bootstrap.css}" />
<link rel="stylesheet" href="../static/css/font-awesome.css" th:href="@{static/css/font-awesome.css}" />
<link rel="stylesheet" href="../static/css/custom.css" th:href="@{static/css/custom.css}" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />


</div>


</html>