
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="leftnav">

	<nav class="navbar-default navbar-side" role="navigation">
		<div class="sidebar-collapse">
			<ul class="nav" id="main-menu">
				<li class="text-center user-image-back"><img
					src="assets/img/find_user.png" class="img-responsive" /></li>


				<li><a href="index.html"><i class="fa fa-desktop "></i>Dashboard</a>
				</li>
				<li><a href="#"><i class="fa fa-edit "></i>Blood Test<span
						class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li><a href="#">Test1</a></li>
						<li><a href="#">Test2</a></li>
						<li><a href="#">Test3</a></li>
					</ul></li>
					
					<li><a href="#"><i class="fa fa-edit "></i>Admin<span
						class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li><a href="#">Create Clinical Test</a></li>
						<li><a href="#">Create Result Type</a></li>
					</ul></li>

				<li><a href="#"><i class="fa fa-table "></i>Table Examples</a>
				</li>
				<li><a href="#"><i class="fa fa-edit "></i>Forms </a></li>


				<li><a href="#"><i class="fa fa-sitemap "></i>Multi-Level
						Dropdown<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li><a href="#">Second Level Link</a></li>
						<li><a href="#">Second Level Link</a></li>
						<li><a href="#">Second Level Link<span class="fa arrow"></span></a>
							<ul class="nav nav-third-level">
								<li><a href="#">Third Level Link</a></li>
								<li><a href="#">Third Level Link</a></li>
								<li><a href="#">Third Level Link</a></li>

							</ul></li>
					</ul></li>
				<li><a href="#"><i class="fa fa-qrcode "></i>Tabs &amp; Panels</a>
				</li>
				<li><a href="#"><i class="fa fa-bar-chart-o"></i>Mettis
						Charts</a></li>

				<li><a href="#"><i class="fa fa-edit "></i>Last Link </a></li>
				<li><a href="blank.html"><i class="fa fa-table "></i>Blank
						Page</a></li>
			</ul>

		</div>

	</nav>
</div>
</html>